<style>
  body {
    background-color: rgba(21, 21, 21, 1);
  }
  .row {
    padding-top: 50px;
  }
</style>
  <div style="height:3rem;background-color: rgba(21, 21, 21, 1)"></div>
<div class="row">
  <!-- Existing Addresses Section -->
  <div class="col-md-6 mb-4" style="padding-left: 50px;">
    
    <div class="card mb-4">
      <div class="card-header py-3" style="background-color: rgba(21, 21, 21, 1);">
        <h5 class="mb-0" style="color: white;">Existing Addresses</h5>
      </div>
      <div class="card-body" style="background-color: rgba(21, 21, 21, 1);">
        <!-- Address Cards -->
        <div class="row" style="background-color: rgba(21, 21, 21, 1);">
           {{#each userAddresses}}
          <!-- Address 1 -->
          <div class="col-md-12 mb-3">
            <div class="card h-100" style="background-color: rgb(52 51 51)">
              <div class="card-body">
                     
              <label class="form-check-label" for="address{{this.userId}}">
                <h4 class="card-title" style="color: white;">{{this.address.name}}</h4>
                <p class="card-text" style="color: white;">Address: {{this.address.address}}</p>
                 <h5 class="card-text" style="color: white;">mobile: {{this.address.mobile}}</h5>
              </label>
           <div>
<div class="d-flex justify-content-end" role="group" aria-label="Address Actions">
  <a href="/use_address?id={{this._id}}" class="btn btn-success" style="padding-right: 1rem;">Use</a>
  <span style="margin-right: 1rem;"></span> <!-- Add a span element with margin for the desired gap -->
  <a href="/delete_address?id={{this._id}}" class="btn btn-danger">Delete</a>
</div>
</div>

              </div>
            </div>
          </div>
          {{/each}}
        </div>

        <!-- Add New Address Button -->
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add New Address</button>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add New Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="modal-form" action="/add-new-address" method="post">
        
            <input type="text" id="fullName" name="fullName" class="form-control" required />
            <label class="form-label" style="color: black;">Full name</label>          
            <input type="text" id="address" name="address" class="form-control" required />
            <label class="form-label" style="color: black;">Address</label>          
            <input type="text" id="pincode" name="pincode" class="form-control" required />
            <label class="form-label" style="color: black;">Pincode</label>          
            <input type="text" id="mobile" name="mobile" class="form-control" required />
            <label class="form-label" style="color: black;">Mobile number</label>   
            <input type="text" name="userId" value="{{user._id}}" hidden>       
      </div>    

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save Address</button>
      </div>
    </div>
  </div>
  </form>
</div>


{{#if userAddress}}
  <!-- Summary and Add Address Section -->
  <div class="col-md-6 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3" style="background-color: rgba(21, 21, 21, 1);">
        <h5 class="mb-0" style="color: white;">Address details</h5>
      </div>
      <div class="card-body" style="background-color: rgba(21, 21, 21, 1);">
        <!-- Add Address Form -->
        <form  action="" id="checkout-form">
          <div class="form-outline mb-4">
            <input type="text" id="fullName" name="fullName" class="form-control " value="{{userAddress.address.name}}" required />
            <label class="form-label" style="color: white;">Full name</label>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="address" name="address" class="form-control" value="{{userAddress.address.address}}" required />
            <label class="form-label" style="color: white;">Address</label>
          </div>
         
            <div class="form-outline mb-4">
            <input type="number" id="pincode" name="pincode" class="form-control" value="{{userAddress.address.pincode}}" required />
            <label class="form-label" style="color: white;">Pincode</label>
          </div>
          <div class="form-outline mb-4">
            <input type="number" id="mobile" name="mobile" class="form-control" value="{{userAddress.address.mobile}}" required />
            <label class="form-label" style="color: white;">Mobile Number</label>
            <input type="text" name="userId" id="" value="{{user._id}}" hidden>
          </div>
          
          <div class="col-md-6 mb-4 ms-auto">
            <div class="card mb-4">
              <div class="card-header py-3" style="background-color: rgba(21, 21, 21, 1);">
                <h5 class="mb-0" style="color:white">Summary</h5>
              </div>
              <div class="card-body"  style="background-color: rgba(21, 21, 21, 1);">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0" style="background-color: rgba(21, 21, 21, 1); color:white">
                    Shipping
                    <span>Free</span>
                  </li>
                  <!-- Payment Methods -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0" style="background-color: rgba(21, 21, 21, 1); color:white">
                    Payment Method
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="payment-method" value="COD" checked>
                      <label class="form-check-label" >
                        COD
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="payment-method"  value="ONLINE">
                      <label class="form-check-label">
                        Online 
                      </label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3" style="background-color: rgba(21, 21, 21, 1); color:white">
                    <div>
                      <strong>Total amount</strong>
                      <strong>
                        <p class="mb-0">(including GST)</p>
                      </strong>
                    </div>
                    <span><strong>₹{{total}}</strong></span>
                  </li>
                </ul>

                <button type="submit" class="btn btn-primary btn-lg btn-block">
                  Place Order
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{else}}
 <div class="col-md-6 mb-4" style="padding-right: 50px;">
    <div class="card mb-4">
      <div class="card-header py-3" style="background-color: rgba(21, 21, 21, 1);">
        <h5 class="mb-0" style="color: white;">Address details</h5>
      </div>
      <div class="card-body" style="background-color: rgba(21, 21, 21, 1);">
        <!-- Add Address Form -->
        <form  action="" id="checkout-form">
          <div class="form-outline mb-4">
            <input type="text" id="fullName" name="fullName" class="form-control" required />
            <label class="form-label" style="color: white;">Full name</label>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="address" name="address" class="form-control" required />
            <label class="form-label" style="color: white;">Address</label>
          </div>
         
            <div class="form-outline mb-4">
            <input type="number" id="pincode" name="pincode" class="form-control" required />
            <label class="form-label" style="color: white;">Pincode</label>
          </div>
          <div class="form-outline mb-4">
            <input type="number" id="mobile" name="mobile" class="form-control" required />
            <label class="form-label" style="color: white;">Mobile Number</label>
            <input type="text" name="userId" id="" value="{{user._id}}" hidden>
          </div>
         
          <div class="col-md-6 mb-4 ms-auto">
            <div class="card mb-4">
              <div class="card-header py-3" style="background-color: rgba(21, 21, 21, 1);">
                <h5 class="mb-0" style="color:white">Summary</h5>
              </div>
              <div class="card-body"  style="background-color: rgba(21, 21, 21, 1);">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0" style="background-color: rgba(21, 21, 21, 1); color:white">
                    Shipping
                    <span>Free</span>
                  </li>
                  <!-- Payment Methods -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0" style="background-color: rgba(21, 21, 21, 1); color:white">
                    Payment Method
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="payment-method" value="COD" checked>
                      <label class="form-check-label" >
                        COD
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="payment-method"  value="ONLINE">
                      <label class="form-check-label">
                        Online 
                      </label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3" style="background-color: rgba(21, 21, 21, 1); color:white">
                    <div>
                      <strong>Total amount</strong>
                      <strong>
                        <p class="mb-0">(including GST)</p>
                      </strong>
                    </div>
                    <span><strong>₹{{user.pAmount}}</strong></span>
                  </li>
                </ul>

                <button type="submit" class="btn btn-primary btn-lg btn-block">
                  Place Order
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    {{/if}}
  </div>
</div>
</div>
</div>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
 $("#checkout-form").submit((e) => {
  e.preventDefault();
  $.ajax({
    url: '/delivery-address',
    method: 'post',
    data: $('#checkout-form').serialize(),
    success: (response) => {
      if (response.codSuccess) {
        Swal.fire({
          title: "Order Placed",
          text: "Your order has been successfully placed!",
          icon: "success"
        }).then(() => {
          location.href = '/order-success';
        });
      } else {
        razorpayPayment(response);
      }
    }
  });
});



  function razorpayPayment (order){
    console.log(order.id)
    
   var options = {
    "key": "rzp_test_6dmeULoXfLlnAO", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "PhoneMax",
    "description": "Test Transaction",
    "image": "",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
  };
   var rzp1 = new Razorpay(options);
    rzp1.open();
}


function verifyPayment(payment, order) {
  $.ajax({
    url: '/verify-payment',
    data: {
      payment,
      order
    },
    method: 'post',
    success: (response) => {
      if (response.status) {
        Swal.fire({
          title: "Payment Verified",
          text: "Payment successfully verified!",
          icon: "success"
        }).then(() => {
          location.href = '/order-success';
        });
      } else {
        Swal.fire({
          title: "Payment Failed",
          text: "Payment verification failed.",
          icon: "error"
        });
      }
    }
  });
}



</script>

<script>
  
  const form = document.getElementById('checkout-form');

  form.addEventListener('submit', function (event) {
    event.preventDefault();
    if (form.checkValidity()) {
      // Form is valid, perform form submission or further processing
    
    } else {
      alert('Please fill in all the required fields');
    }
  });
</script>
