<section style="background-color: rgba(21, 21, 21, 1);">
  <div class="container py-5">
    <div class="row justify-content-center mb-3">
        {{#each products}}
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3" >
          <div class="card-body" style="background-color: rgba(21, 21, 21, 1);">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                 <img src="/product-image/{{this._id}}.jpg" class="card-img-top" alt="..."></a>
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5 class="card-title" style="color: white;"><strong>{{this.name}}</strong></h5>
                <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  
                </div>
                
                <p class="card-text" style="color: white;">{{this.description}}</p>
              </div>
              
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                   <p class="card-price" style="color: white; font-size:x-large"><strong>{{this.price}}</strong></p>
                </div>
            
                <h6 class="text-success">Free shipping</h6>
                <div class="d-flex flex-column mt-4">
                  <a  href="/productdetails/{{this._id}}"
                  class="btn btn-primary btn-sm" style="color: white;" type="button">Details</a>
                  <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                    Add to wishlist
                  </button> 
                  {{!-- <a href="/add-to-cart/{{this._id}}" class="btn btn-outline-primary btn-sm mt-2">
                    Add to cart
                  </a> --}}
                  <button onclick="addToCart('{{this._id}}')" class="btn btn-outline-primary btn-sm mt-2">Add to Cart</button>
                </div>
              </div>
            </div>
           
          </div>
          
        </div>
       
      </div>
      {{/each}}
    </div>
   </section>


  